KEYCLOAK_AUTH_URL=
KEYCLOAK_CLIENT_ID=

API_BASE_URL=

COUCHDB_URL=
COUCHDB_SALES_PREFIX=
COUCHDB_PUSH_NOTIF_DBNAME=
COUCHDB_SALESMAN_MONITORING=
COUCHDB_DMS=

COOKIE_EXPIRED_IN_MINUTES=

APP_VERSION=

APP_ENV=
API_SALES_LOCAL_URL=
API_AI_LOCAL_URL=
API_ARLO_LOCAL_URL=
API_EMPLOYEE_LOCAL_URL=
API_POPPA_LOCAL_URL=
API_USER_LOCAL_URL=
APP_HEADER_TITTLE=

SENTRY_DSN=
SENTRY_ENV=development

MEET_URL=
SENTRY_DISABLED=
URL_STREAMLIT=
ALLOW_RADIUS_LOCATION=

ENV_RELIGIONS=
ENV_EMPLOYEE_TYPES=
ENV_MARITALS=
ENV_RELATIONSHIPS=
ENV_BLOOD_TYPES=
ENV_TAXS=
ENV_IDENTITY_TYPES=
ENV_SCHEDULE_EMPLOYEES=
ENV_MODE_OF_TRANSPORTATIONS=
ENV_TRIP_TYPES=
ENV_CHARGE_TRIPS=
ENV_TRIP_SUBMISSIONS=
ENV_TRIP_OVERSEAS_COUNTRY=
ENV_TAX_TYPE_NOO=
ENV_REIMBURSEMENT_STATUS_LIST=

PJP_MAX_PER_DAY=30
PJP_MIN_PER_DAY=25

FINANCE_UPLOAD_TYPE='[{"upload_type_name": "Bridging Journal"},{"upload_type_name": "Calendar Finance Operational"},{"upload_type_name": "FOH Budget"},{"upload_type_name": "FOH Journal"},{"upload_type_name": "FOH Overtime Utility"},{"upload_type_name": "FOH Production Budget"}]'
PNL_SIMULATION_UPLOAD_TYPE='[]'
API_WORKFLOW_LOCAL_URL=
ENV_SCORECARD_PERIOD= '["1", "2"]'
SYSTEM_TYPE_LIST='[]'
ENV_RELEASE_COMPANY='[{"value": "uff", "text": "United Family Food"}, {"value": "fam", "text": "Fonusa Agung Mulia"},{"value": "ufa", "text": "Nexus Food Inc."}]'
GET_SALES_DIVISION_LIST='[{}]'
GET_SBU_LIST='[{}]'
GET_LOCATION_LIST='[{}]'
DMM_LABEL_MAP='{}'
ENV_E_LEARNING_URL=https://academy-v5.unifam.today/
ENV_EMPLOYEE_PORTAL=https://unifamers.com/